* {
  color: black;
}
.comic-neue-regular {
  font-family: "Comic Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", serif;
  font-weight: 700;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
  transition: all 1s linear;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--secondary-color);
}
::-webkit-scrollbar-track {
  background: transparent;
  cursor: pointer;
}
:root {
  --secondary-color: #b871fd;
  --primary-color: #1c1c22;
  --accent-color: #1e1e24;
  --accent-color-2: #3c3c46;
  --font: "helvetica" "calibri" arial;
}
.link {
  text-decoration: underline;
  margin-top: 20px;
  cursor: pointer;
}
#load{
  display: flex;
  gap: 10px;
  margin: 10px auto;
}
#load :first-child{
  animation-delay: 0s;
}
#load > :nth-child(2){
  animation-delay: .1s;
}
#load :last-child{
  animation-delay:  .2s;
}
#load > div{
  background-color: black;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  opacity: .7;
  transition: .5s ease;
  animation: load .4s infinite linear alternate;
}
@media (prefers-color-scheme: dark){
  * {
	 color: white;
  }
  #load > div{
    background-color: white;
  }
}
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
}
.scrollbar{
  scroll-behavior: smooth;
}
.scrollbar::-webkit-scrollbar {
  width: 3px;
  border-radius: 20px;
  transition: all 1s linear;
}
.scrollbar::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--secondary-color);
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
  cursor: pointer;
}
.borderAnim {
  background: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 3em;
  border: 2px solid var(--secondary-color);
  transition: 1s;
  animation: hueRotate 3s linear infinite;
}
@keyframes load{
  0%{
    opacity: .5;
    transform: translateY(0px);
  }
  100%{
    opacity: 1;
    transform: translateY(-10px);
  }
}
@keyframes move {
  0% {
    transform: translateX(-40px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(40px);
  }
}
@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@tailwind base;

@tailwind components;

@tailwind utilities;

.input {
  @apply w-[90%] bg-transparent border-2 border-[var(--secondary-color)] dark:border-none dark:bg-[var(--primary-color)] p-[8px_15px] text-[1.1em] text-[#aaa] rounded-[10px] mx-auto outline-none text-black dark:text-white
}
.btn {
  @apply flex justify-center items-center mt-[20px] w-[88%] mx-auto cursor-pointer text-center font-bold text-black bg-[var(--secondary-color)] border-none outline-none rounded-[10px] text-[1.3em]
}
.display *{
  @apply comic-neue-bold text-black dark:text-white !important
}
.display > ol,
.display > ul{
  @apply comic-neue-bold text-black dark:text-white ml-4 list-disc !important
}
.display > ol > *,
.display > ul > *{
  @apply comic-neue-bold text-black dark:text-white !important
}
.display > a{
  @apply comic-neue-bold text-[var(--secondary-color)] !important
}